.card-img-1, 
[data-lesson-id].lesson-link.card-img-1:hover /* masterclass to upsell yellow */ {
	background-image: url('https://i.imgur.com/f74wlgn.jpg');
}
.card-img-2, 
[data-lesson-id].lesson-link.card-img-2:hover { /* masterclass to upsell purple */
	background-image: url('https://i.imgur.com/frkEibK.jpg');
}
.card-img-3, 
[data-lesson-id].lesson-link.card-img-3:hover { /* masterclass to upsell blue */
	background-image: url('https://i.imgur.com/yz6bsDq.jpg');
}
.card-img-4, 
[data-lesson-id].lesson-link.card-img-4:hover { /* masterclass to upsell lime green */
	background-image: url('https://i.imgur.com/wtYvtXW.jpg');
}
